.con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
form {
  width: 50%;
  background-color: transparent;
  box-shadow: none;
}
img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
@media (max-width: 929px) {
  .con {
    flex-direction: column;
  }
  img {
    width: 100%;
    border-radius: 0;
  }
  form {
    width: 90%;
  }
}
input {
  background-color: white;
  margin-bottom: 20px;
  outline: none;
}
#pass {
  margin: 0;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#container i {
  position: absolute;
  right: 7px;
  transition: 0.3s;
}
#container i:hover {
  color: var(--primary-500);
}
body {
  height: 100vh;
}
.btn {
  margin-top: 20px;
}
#title {
  text-align: center;
  padding: 10px;
  color: var(--primary-500);
  font-weight: bold;
}
input {
  display: inline;
}
